<a href="https://colab.research.google.com/github/kvkasinath07/ict_assignments/blob/main/Assignment03_kasinath.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1
a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
c = int(input("Enter the third number:"))
l = max(a,b,c)
print(l,'is the largest number given by you')

Enter the first number:1
Enter the second number:2
Enter the third number:3
3 is the largest number given by you

In [4]:
#2
def sum_list(numbers):
    return sum(numbers)
list2 = [18, 12, 30, 10, 7]

result = sum_list(list2)
print("Sum of the list:", result)

Sum of the list: 77

In [6]:
'''
Python program to insert a number to any position in a list (Get the number
to be inserted and position from the user)
'''
num = int(input("Enter the number:"))
pos = int(input("Enter the position the number to be uploaded:"))

list3 = [1,2,3,4,5,6,7,8,9,0]
list3.insert(pos,num)
print(list3)

Enter the number:4
Enter the position the number to be uploaded:3
[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 0]

In [8]:
'''
Write a program to rename a key city to a location in the following dictionary.
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
'''
sample = {"name":"Kelly", "age":25, "salary": 8000, "city": "New york"}
place = input("Enter the place:")
sample.update({"city":place})
print(sample)

Enter the place:manhattan
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'manhattan'}

In [11]:
'''Write a Python program to change Bradâ€™s salary to 8500 in the following
dictionary.
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}
 '''

sample2 = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 500}
 }
sample2['emp3']['salary'] = 8500
print(sample2)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [13]:
'''
Write a program to copy elements 44 and 55 from the following tuple into a
new tuple. Given: tuple1 = (11, 22, 33, 44, 55, 66)
'''
tuple1 = (11,22,33,44,55,66)
tuple2 = tuple1[3:5]
print(tuple2)

(44, 55)

In [14]:
'''
Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10,
60, 70, 50,83,567,50,81
'''
tuple3 = (50,10,60,70,50,83,567,50,81)
tuple3.count(50)

3